
.cbp-tm-submenu {
    position: absolute;
    display: block;
    visibility: hidden;
    opacity: 0;
    padding: 0;
    text-align: left;
    pointer-events: none;
    -webkit-transition: visibility 0s, opacity 0s;
    -moz-transition: visibility 0s, opacity 0s;
    transition: visibility 0s, opacity 0s;
}
 
.cbp-tm-show .cbp-tm-submenu {
    width: 16em;
    left: 50%;
    margin: 0 0 0 -8em;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    -webkit-transition: visibility 0s, opacity 0.3s;
    -moz-transition: visibility 0s, opacity 0.3s;
    transition: visibility 0s, opacity 0.3s;
}
 
.cbp-tm-show-above .cbp-tm-submenu {
    bottom: 100%;
    padding-bottom: 10px;
}
 
.cbp-tm-show-below .cbp-tm-submenu {
    top: 100%;
    padding-top: 10px;
}
 