
.container{
	/* background-color: red; */
	min-width: 700px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: aliceblue;
	margin-top: 10px;
	border-radius: 30px;

}
.nav{
	/* height:20px; */
	background-color: black;
	padding-left: 10px;
}
.footer{
	height: 40px;
	background-color: #39342d;
}
.content{
	height: 600px;
	background-color: white;
}
.slider{
	/* height: 40px; */
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
}

.back{
	background:  url(../images/bgt.jpg) repeat;
}
.footerText{
	padding-left: 480px;
	top: 9px;
	position: relative;
	color: rgb(137, 118, 118);
}

#nav-wrapper1{
	
}